<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookMessageSummary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookMessageSummary.Properties.Settings>
            <setting name="NamedTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="Clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HTTPRequest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CallDLL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DLLPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppendPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MsgDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HTTPVerb" serializeAs="String">
                <value>GET</value>
            </setting>
            <setting name="HTTPURL" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPBody" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DLLProc" serializeAs="String">
                <value />
            </setting>
        </OutlookMessageSummary.Properties.Settings>
    </userSettings>
</configuration>